# Flutter / Dart
.dart_tool/
.buildlog
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
**/key.properties
**/*.jks

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
macos/Pods/

# OS
.DS_Store
Thumbs.db
*.log
